@import url('https://fonts.googleapis.com/css?family=Lato|Righteous&display=swap');

body {
    background-color: #ededed
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #990c0c;
    text-align: center;
}    

.container {
    background-color: #ffffff;
    width: 800px;
    margin: auto;
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.header h1 {
    color: #6e0505
    font-family: 'Righteous', cursive;
    font-size: 40px;
}

.welcome {
    height: 180px;
    text-align: center;
    background-image: url("../images/animals-q-c-640-480-7.jpg");
    background-position-x: center;
    background-position-y: -80px;
    background-repeat: no-repeat;
    overflow: auto;
}

.welcome h1 {
    margin-top: 70px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #000000;
}

.entry-blog {
    width: 47%;
    float: left;
    padding: 1%;
    text-align: justify;
}

.entry-blog img {
    border-radius: 3%;
    width: 100%;
}

.entry-description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.entry-published {
    color: rgb(129, 129, 129)
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 800px;
    margin: auto;
}

.grid-container article {
    padding: 5px;
    background-color: #ffffff;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav {
    grid-area: 2 / 1 / span 1 / span 2;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    list-style: none;
    margin: 0;
    padding-left: 0px;
    text-align: center;
}

.nav ul li {
    background-color: #e4e4e4;
    padding: 5px;
    color: #6e0505;
    margin: 0px;
}

  .sidebar {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
  }

.footer {
    grid-area: 5 / 1 /  span 1 / span 2;
  }

.footer ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

.footer ul li {
    background-color: #e4e4e4;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .footer ul li:first-child {
    padding-left: 5px;
  }
  
  .footer ul li:nth-child(2) {
    text-align: center;
  }
  
  .footer ul li:last-child {
    text-align: right;
    padding-right: 5px;
  }  

.grid-item {
    background-color: #990c0c;
    width: 50px;
    padding: 20px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
  }